.footer {
  width: 1170px;
  margin: 5px auto 40px;
}

.social-network-links {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  background-color: #f4f7f6;
}

.dribbble-link {
  background-image: url(../svg/001-dribbble.svg);
}

.pinbbbie-link {
  background-image: url(../svg/002-pinterest.svg);
}

.tumblr-link {
  background-image: url(../svg/003-tumblr.svg);
}

.social-ico {
  display: block;
  width: 20px;
  height: auto;
  padding: 42px 0;
  margin: 0 12.5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.copyright {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgb(153, 153, 153);
  font-weight: bold;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .footer {
      width: 100%;
      padding: 0 33px;
      margin-top: -25px;
  }

  .social-network-links {
      margin-bottom: 40px;
  }

}

@media (max-width: 640px) {
  .footer {
      min-width: 250px;
      width: 100%;
  }
}