.content {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

/* **************************************************** main*************************************************** */
.main {
  position: relative;
}

.block-with-post {
  display: flex;
  justify-content: space-between;
}

.post-image {
  width: 380px;
  height: 295px;
  background-color: #606260;
}

.post {
  width: 368px;
}

.post-tag-ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: -2px 0 5px 1px;
  margin-top: -2px;
  margin-left: 1px;
  margin-bottom: 5px;
}

.post-tag-ul li {
  margin-right: 20px;
}

.post-tag-link {
  text-decoration: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(181, 159, 91);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.post-tag-link:hover {
  border-bottom: 2px solid #b59f5b;
}


.post-title {
  margin-bottom: 28px;
}

.post-title-link {
  display: block;
  text-decoration: none;
  font-size: 20.3px;
  font-family: "Open Sans", sans-serif;
  color: rgb(15, 13, 14);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}

.post-title-link:hover {
  color: #b59f5b;
}

.post-publication-date {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgb(136, 136, 136);
  text-align: left;
}

.post-author {
  margin-left: 10px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
}

.post-text {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: rgb(15, 13, 14);
  line-height: 1.467;
}

@media (min-width: 1200px) {
  .content {
      justify-content: space-between;
      width: 1200px;
      margin-top: 55px;
      padding: 0 15px;
  }

  .main {
      width: 778px;
      margin-right: 15px;
      margin-top: 8px;
  }

  .data-author {
      margin-bottom: 46px;
  }

  .block-with-post {
      width: 100%;
      margin-bottom: 59px;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .content {
      justify-content: center;
      flex-wrap: nowrap;
      width: 100%;
      margin-top: 42px;
      padding: 0 33px;
      /* border: 1px solid red; */
  }

  .main {
      max-width: 390px;
      width: auto;
      margin-right: 19px;
      margin-top: 8px;
      top: 0;
  }

  .block-with-post {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 3px solid #eeeeee;
      margin-bottom: 45px;

  }

  .block-with-post:last-child {
      border-bottom: 0;
  }

  .post {
      width: 100%;
      margin-top: -5px;
      padding-bottom: 5px;
  }

  .post-image {
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
  }

  .post-title-link {
      font-size: 17px;
      line-height: 1.4;
  }

  .data-author {
      margin-bottom: 28px;
  }

}

@media (max-width: 640px) {
  .content {
      padding: 0 15px;
      width: 100%;
  }

  .main {
      width: 100%;
      margin-right: 0;
  }

  .block-with-post {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 3px solid #c4bfbf;
      margin-top: 0;
      margin-bottom: 30px;
  }

  .post-image {
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
  }

  .post {
      width: 100%;
  }

  .post-title-link {
      font-size: 16px;
  }

  .data-author {
      margin-bottom: 10px;
  }
}

/* ******************************************* sidebar *********************************************** */
.sidebar {
  position: relative;
}

@media (min-width: 1201px) {
  .sidebar {
      width: 270px;
      margin-top: 5px;
      margin-left: 15px;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .sidebar {
      max-width: 270px;
      margin-top: 4px;
      margin-left: 19px;
  }
}

@media (max-width: 640px) {
  .sidebar {
      width: 100%;
      margin-left: 0;
  }
}

/* ************************************** section **************************************** */
.section-new {
  position: relative;
  margin-bottom: 39px;
  width: 100%;
}

/* *************************************************************************************************** */
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 43px;
}

.title::after {
  content: "";
  background-color: rgb(181, 159, 91);
  opacity: 0.9;
  position: absolute;
  top: 29px;
  width: 66px;
  height: 3px;
}

.title-link {
  text-decoration: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(15, 13, 14);
  font-weight: bold;
  text-transform: uppercase;
}

/* ************************************************************************************************************ */
.new-post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
  width: 100%;
  height: auto;
}

.new-post-img {
  width: 70px;
  height: 70px;
}

.new-text {
  width: 182px;
  height: auto;
}

.new-data {
  display: block;
  margin: -3px 0 2.2px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #b2b2b2;
  text-align: left;
}

.new-post-link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: left;
}

.new-post-link:hover {
  color: #b59f5b;
}

@media (min-width: 1201px) {}

@media (min-width: 641px) and (max-width: 1200px) {}

@media (max-width: 640px) {
  .new-post {
      display: flex;
      justify-content: space-between;
      margin-bottom: 22px;
      width: 100%;
      height: auto;
  }

  .new-post-img {
      width: 70px;
      height: 70px;
  }

  .new-text {
      margin-left: 20px;
      width: 100%;
  }
}

/* **************************************************** form-search *****************************************/
.aside-form {
  position: relative;
  width: 100%;
  height: auto;
  margin: 60px 0 57px;
}

.input-search {
  position: relative;
  border: none;
  width: 225px;
  height: 48px;
  background-color: rgb(244, 247, 246);
  padding-left: 18px;
}

.input-search:focus {
  outline: 2px solid #b59f5b;
  outline-offset: -2px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btn-search {
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 48px;
  height: 48px;
  background-image: url(../svg/search.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(181, 159, 91)
}

.btn-search:hover {
  background-color: #0f0d0e;
}

@media (max-width: 640px) {
  .input-search {
      width: 100%;
      padding-left: 18px;
  }
}

/* <!-- ************************************************** mailing list ***************************************************** --> */
.mailing-list {
  width: 100%;
  height: auto;
  margin-bottom: 55px;
}

.input-email {
  margin-top: -4px;
  border: none;
  width: 100%;
  height: 48px;
  background-color: rgb(244, 247, 246);
  padding-left: 20px;
}

.input-email:focus {
  outline: 2px solid #b59f5b;
  outline-offset: -2px;
}

.btn-email {
  border: none;
  margin-top: 17px;
  width: 100%;
  height: 48px;
  background-color: rgb(181, 159, 91);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
}

.btn-email:hover {
  background-color: #0f0d0e;
}

/* <!-- *************************************************** block with tags *************************************************** --> */
.block-with-tags {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 55px;
}

.aside-tag-ul {
  margin-top: -24px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.aside-tag-link {
  display: block;
  padding: 4px 12px;
  margin: 0 5px 4.5px 0;
  border: 3px solid rgb(238, 238, 238);
  text-decoration: none;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgb(23, 18, 23);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.aside-tag-link:hover {
  border: 3px solid rgb(181, 159, 91);
  color: rgb(15, 13, 14);
}

.aside-tag-link:focus {
  border: 3px solid rgb(181, 159, 91);
  color: rgb(3, 3, 3);
}

.aside-tag-link:visited {
  color: rgb(3, 3, 3);
}

/* <!-- ******************************************************* Topics ************************************************ --> */
.topics {
  width: 100%;
  height: auto;
}

.topics-ul {
  margin-top: -18px;
  list-style-type: none;
}

.topics-link {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 13.8px;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 3.357;
  text-align: left;
}

.topics-link:hover {
  color: rgb(181, 159, 91);
}

.topics-link::before {
  content: "";
  background-color: #eeeeee;
  opacity: 0.9;
  position: absolute;
  top: 45px;
  width: 100%;
  height: 2px;
}

.topics-link::after {
  content: "";
  position: relative;
  top: -4px;
  left: 3px;
  font-size: 11.5px;
  font-family: "Open Sans", sans-serif;
  color: rgb(181, 159, 91);
  font-weight: bold;
  text-align: left;
}

.topics-beauty::after {
  content: "12";
  cursor: default;
}

.topics-health::after {
  content: "4";
  cursor: default;
}

.topics-lifestyle::after {
  content: "145";
  cursor: default;
}

.topics-music::after {
  content: "28";
  cursor: default;
}

.topics-sport::after {
  content: "62";
  cursor: default;
}

.topics-yoga::after {
  content: "8";
  cursor: default;
}