.shop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shop-main-title {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 2px;
  margin-bottom: 40px;
}

.shop-main-title::after {
  content: "";
  background-color: rgb(181, 159, 91);
  opacity: 0.9;
  position: absolute;
  top: 35px;
  width: 66px;
  height: 3px;
}

.shop-main-title-link {
  text-decoration: none;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: rgb(15, 13, 14);
  font-weight: bold;
  text-transform: uppercase;
}

.img-shop {
  max-width: 100%;
  background-color: #606260;
}

.block-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-shop {
  box-sizing: border-box;
  border: 3px solid rgb(181, 159, 91);
}

.title-shop {
  margin-bottom: 2px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: rgb(15, 13, 14);
  font-weight: bold;
  text-transform: uppercase;
}

.text-shop {
  margin-bottom: 12px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: rgb(11, 11, 11);
  line-height: 1.467;
}

.text-shop:hover {
  color: rgb(54, 54, 54);
}

.link-shop {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.467;
  text-decoration: none;
  color: #b59f5b;
}

.box-price-shop {
  display: flex;
  justify-content: space-between;
}

.price-shop {
  display: flex;
  flex-direction: column-reverse;
}

.past-price {
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(15, 13, 14);
  font-weight: bold;
  text-transform: uppercase;
}

.last-price {
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
  color: rgb(15, 13, 14);
  font-weight: bold;
  text-transform: uppercase;
}

.btn-shop {
  width: 140px;
  height: 48px;
  background-color: rgb(181, 159, 91);
  border: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  /* line-height: 2.857; */
}

.btn-shop:hover {
  background-color: #0f0d0e;
}

@media (min-width: 1201px) {
  .shop {
      width: 1200px;
      padding: 0 15px;
      margin: 0 auto 50px;
  }

  .block-shop {
      width: 345px;
      margin-bottom: 30px;
  }

  .content-shop {
      margin-top: -35px;
      padding: 48px 19px 25px;
      width: 100%;
      height: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .shop {
      width: 100%;
      padding: 0 33px;
      margin: 0 auto 50px;
  }

  .shop-main-title {
      margin-bottom: 30px;
  }

  .content-shop {
      margin-top: -35px;
      padding: 48px 19px 25px;
      max-width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 3px solid rgb(181, 159, 91);
  }

  .title-shop {
      margin-bottom: 2px;
      font-size: 17px;
  }

  .block-shop {
      max-width: 336px;
      width: calc(50% - 10*2px);
      margin: 10px;
      margin-bottom: 30px;
  }

  .img-shop {
      width: 100%;
      height: 100%;
      background-color: #606260;
  }
}

@media (max-width: 640px) {
  .shop {
      min-width: 250px;
      width: 100%;
      padding: 0 15px;
  }

  .block-shop {
      width: 100%;
      margin-bottom: 30px;
  }

  .img-shop {
      background-color: #606260;
      width: 100%;
      height: 100%;
      margin: 0;
  }

  .title-shop {
      font-size: 16px;
  }

  .content-shop {
      margin-top: -30px;
      padding: 50px 20px 20px;
      max-width: 330px;
      width: 100%;
      height: 100%;
  }
}